<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    {{!-- <script src="public/js/react_vendor/react.production.js"></script>
    <script src="public/js/react_vendor/react-dom.production.js"></script> --}}

    <link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="public/css/main.css">
    {{!-- <link rel="stylesheet" type="text/css" href="public/css/custom.css"> --}}
    {{!-- <link rel="stylesheet" type="text/css" href="public/css/todo.css"> --}}
</head>
<body>
    
    {{> menu}}
      
    {{{body}}}
    
    {{!-- <img src='/public/img/astrokot.jpg' height='200px' width='200px'></img> --}}
    
    {{!-- <script src="public/js/react_components/todo.js"></script> --}}

</body>
<html>